services:
  bkad-app:
    container_name: bkad_app
    restart: always
    build: .
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5005"]
      interval: 30s
      timeout: 10s
      retries: 3

  nginx:
    container_name: nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "5085:5085"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - app-network
    depends_on: 
      - bkad-app
  
  adminer:
    image: adminer:latest
    container_name: adminercenter
    restart: always
    ports:
      - "8081:8080"
    networks:
      - app-network

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 3

  db:
    image: postgres:latest
    container_name: db
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"  # Gunakan port berbeda dari database di YML 1
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /home/serverbkad/database:/database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:
networks:
  app-network:
    driver: bridge
 