services:
  bkad-app:
    container_name: bkad_app
    restart: always
    build: .
    networks:
      - db_network
      - web_network
      - app-network
    depends_on:
      db:
        condition: service_healthy

  nginx:
    container_name: nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "5085:5085"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - web_network
    depends_on: 
      - bkad-app

  db:
    image: postgres:latest
    container_name: db_center
    restart: always
    environment:
      POSTGRES_DB: datacenter
      POSTGRES_USER: raselstr
      POSTGRES_PASSWORD: r283l8tr
    ports:
      - "5433:5432"  # Gunakan port berbeda dari database di YML 1
    networks:
      - db_network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U raselstr -d datacenter"]
      interval: 10s
      retries: 5
      start_period: 10s

volumes:
  postgres_data:
networks:
  db_network:
    driver: bridge
  web_network:
    driver: bridge
  app-network:
    driver: bridge
 