{% extends 'layouts/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block title %} {{title}} {% endblock title %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">{{title}}</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../navigation/index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Sample Page</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Group List</h5>
                <a href="#"
                  class="btn btn-sm btn-success"
                  hx-get="{{ url_modal }}"
                  hx-trigger="click"
                  hx-target="#modal-content"
                  hx-swap="innerHTML"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-form">
                  <i class="ti ti-layout-grid-add"></i> Add group
                </a>
            </div>
            <div class="card-body">
                  {% render_table table %}
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% include "includes/modal_include.html" %}
  
{% endblock content %}


