{% extends 'layouts/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block title %} {{ page_title }} {% endblock title %}

{% block content %}
<style>
  table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #879ae6 !important;
    color: white;
  }
</style>

<div class="pc-container">
  <div class="pc-content">

    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">{{ page_title }}</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Base</a></li>
              <li class="breadcrumb-item" aria-current="page">OPD</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5>Data OPD</h5>
            
          </div>
          <div class="card-body">
            <div style="max-height: 70vh; overflow: auto;">
              <div style="min-width: 1000px;">
                {% render_table table %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
